//main page
//colors
$accentColor: #6C5FBC;
$textHeaderColor: #606060;
$borderBottomColor: #CBCBCB;
$headerColor: #201F1F;
$textBlock: #676767;
$info: #8E97A6;
$nonactiveSays: #969696;
$activeSays: #636363;
$userName: #030314;
$dateSays: #5E5D5D;
$cardColor: #FFFFFF;
$addButton:#323142;
$backgroundColor: #F9F9F9;
$footerBcgColor: #EAEAEA;
$linksFooterColor: #999999;
$cardBorder: #F4F4F6;

//fonts
$titleFont: Poppins;
$statsTitle: Public Sans;
$textFont: Inter;
$timeCard: Manrope;
