@import '../../styles/helpers.scss';

.rests-block {
  @extend %border-bottom;
}

.rests__title {
  text-align: center;
  margin-bottom: 87px;
}

.rests-cards {
  @extend %for-flexJC;
  margin-bottom: 66px;
}

.rest__card {
  width: 395.99px;
  height: 297.6px;
  border-radius: 30.02px;
  border: 1.25px solid #F4F4F6;
  background: linear-gradient(0deg, #F4F4F6, #F4F4F6), 
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
  box-shadow: 5.94564151763916px 71.34769439697266px 35.67384719848633px 0px #E5E5E5B2;
  overflow: hidden;
  cursor: pointer;
  transition: 1s;

  & article {
    margin-left: 33px;
    @extend %for-flexJC;
    align-items: flex-end;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.rest-criteria {
  @extend %for-flex;
  @include Manrope400(19.34px);
  color: #8E97A6;
}

.rest__image {
  margin-bottom: 11px;
}

.rest-typeBlock {
  display: inline-block;
  margin-left: 33px;
  padding: 3px 9px;
  border-radius: 6px;
}

.rest__type {
  @include font($titleFont, 400, 12.78px);
  line-height: 19.16px;
}

.rest__name {
  @include fontTitle(25.79px);
  color: $addButton;
}

.rest__rating {
  position: relative;
  margin-left: 38px;
  &::before {
    content: " ";
    background: url(./img/Star.svg) no-repeat;
    position: absolute;
    width: 25.79px;
    height: 25.79px;
    left: -32px;
  }
}

.mark-button {
  margin-right: 17px;
  width: 40.09px;
  height: 40.09px;
  border-radius: 100%;
  background-color: #DBD9EE;
  padding: 10px 12px;

  & input {
    width: 0;
    height: 0;
  }
}

.rests__viewButton {
  @include fontBtn(20px);
  color: $info;
  float: right;
  clear: left;
  width: 112.8px;
  margin-right: 20px;

  & p {
    position: relative;
    right: 20px;
  }
  
  & p::after {
    content: " ";
    background: url("../../img/arrow-grey.svg") no-repeat;
    position: absolute;
    width: 27.9px;
    height: 27.9px;
    top: -5px;
    right: -20px;
  }
}