@import '../../styles/helpers.scss';

.signUp {
  @extend %sign;
}

.modal {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: opacity 0.3s ease, visibility 0.3s linear;
  display: none
}

.signUp-right {
  @extend %sign-right;
}